<main class="light flex w-full">
  <p class="tw-alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="tw-alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
