<main role="main" class="">
  <%= if info = get_flash(@conn, :info) do %>
    <AlertComponent.info message={info} />
  <% end %>

  <%= if error = get_flash(@conn, :error) do %>
    <AlertComponent.error message={error} />
  <% end %>

  <%= @inner_content %>

</main>
